<!doctype html>
<html
    lang="es"
    xmlns:th="http://www.thymeleaf.org">
    <header th:replace="~{fragments/header :: styles}"></header>
    <body class="vh-100 vw-100 mt-5 mb-5">
        <div id="layout">
            <div
                th:insert="~{fragments/navbar :: principal}"></div>
            <div
                    style="margin-top: 5em;"
                class="container-fluid d-flex flex-column align-items-center justify-content-center"
                hx-indicator="#loadingIconNavbar"
                hx-swap="innerHTML transition:true"
                hx-target="this"
                hx-trigger="load"
                id="vistaActual"
                th:attr="hx-get=${rutaDestino}"></div>
            <div
                id="separadorFooter"
                style="height: 5rem"></div>
            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </div>
    </body>
    <style></style>
</html>