<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <title>OFFLINE</title>
</head>
<body>
<div class = "card text-warning border-warning" style = "width: 18rem;">
    <div class = "card-body">
        <h5 class = "card-title"><i class = "bi bi-radioactive text-warning"></i><span class="m-2">Modo offline</span></h5>
        <h6 class = "card-subtitle mb-2 ">El directorio activo no está disponible</h6>
        <p class = "card-text text-warning">No se puede acceder ahora mismo a HPCHV521S.sergas.local</p>
    </div>
</div>
</body>
</html>