<div class="flex-shrink-0 p-3" >
    <div class="d-flex justify-content-center align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom" href="/">
        <img alt = "galeria" class = "w-75" id="temaClaro" th:src = "@{/svg/galariaPositivo.svg}"/>
    </div>
    <div th:replace="~{fragments/toggleThemeDropdown :: slim}"></div>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button aria-expanded="true" class="btn sidebar-btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-target="#home-collapse" data-bs-toggle="collapse">
                Home
            </button>
            <div class="collapse show" id="home-collapse" style="">
                <ul class="sidebar-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Overview</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Updates</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Reports</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button aria-expanded="true" class="btn sidebar-btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-target="#dashboard-collapse" data-bs-toggle="collapse">
                Dashboard
            </button>
            <div class="collapse show" id="dashboard-collapse" style="">
                <ul class="sidebar-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Overview</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Weekly</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Monthly</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Annually</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button aria-expanded="true" class="btn sidebar-btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-target="#orders-collapse" data-bs-toggle="collapse">
                Orders
            </button>
            <div class="collapse show" id="orders-collapse" style="">
                <ul class="sidebar-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">New</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Processed</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Shipped</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button aria-expanded="true" class="btn sidebar-btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-target="#account-collapse" data-bs-toggle="collapse">
                Account
            </button>
            <div class="collapse show" id="account-collapse" style="">
                <ul class="sidebar-btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">New...</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Profile</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Settings</a></li>
                    <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded" href="#">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<style>
    .dropdown-toggle { outline: 0; }

    .sidebar-btn-toggle {
        padding: .25rem .5rem;
        font-weight: 600;
        color: var(--bs-emphasis-color);
        background-color: transparent;
    }
    .sidebar-btn-toggle:hover,
    .sidebar-btn-toggle:focus {
        color: rgba(var(--bs-emphasis-color-rgb), .85);
        background-color: var(--bs-tertiary-bg);
    }

    .sidebar-btn-toggle::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    [data-bs-theme="dark"] .sidebar-btn-toggle::before {
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    }

    .sidebar-btn-toggle[aria-expanded="true"] {
        color: rgba(var(--bs-emphasis-color-rgb), .85);
    }
    .sidebar-btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }

    .sidebar-btn-toggle-nav a {
        padding: .1875rem .5rem;
        margin-top: .125rem;
        margin-left: 1.25rem;
    }
    .sidebar-btn-toggle-nav a:hover,
    .sidebar-btn-toggle-nav a:focus {
        background-color: var(--bs-tertiary-bg);
    }

    .sidebar-scrollarea {
        overflow-y: auto;
    }

</style>
<script>
    /* global bootstrap: false */
    (() => {
        'use strict'
        const tooltipTriggerList = Array.from(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        tooltipTriggerList.forEach(tooltipTriggerEl => {
            new bootstrap.Tooltip(tooltipTriggerEl)
        })
    })()

</script>