<!doctype html>
<html
        lang="es"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge" />
    <title>Exportar datos</title>
</head>
<body>
<table class="table table-striped table-hover">
    <div class="text-center m-2">
        <a th:href="@{/panel/aplicativo/explorar/exportarOrdenadoresCsv}"
           class="btn btn-primary">
            <span class="bi bi-file-earmark-spreadsheet"></span>
            <span>Descargar CSV</span>
        </a>
        <a th:href="@{/panel/aplicativo/explorar/exportarOrdenadoresXml}"
           class="btn btn-primary">
            <span class="bi bi-file-earmark-spreadsheet"></span>
            <span>Descargar XML</span>
        </a>
    </div>
    <thead>
    <tr>
        <th>ID</th>
        <th>Etiqueta</th>
        <th>Número de Serie</th>
        <th>IP Primaria</th>
        <th>Modelo</th>
        <th>Servicio</th>
        <th>Localización</th>
        <th>Contrato</th>
        <th>Garantía</th>
        <th>Activo</th>
        <th>Propuesto retirada</th>
        <th>Fecha de Alta</th>
        <th>Fecha de Actualización</th>
        <th>Fecha de Baja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vista : ${vistaOrdenadores}">
        <td th:text="${vista.id}"></td>
        <td th:text="${vista.etiqueta}"></td>
        <td th:text="${vista.nMeroDeSerie}"></td>
        <td th:text="${vista.iPPrimaria}"></td>
        <td th:text="${vista.modelo}"></td>
        <td th:text="${vista.servicio}"></td>
        <td th:text="${vista.localización}"></td>
        <td th:text="${vista.contrato}"></td>
        <td th:text="${vista.garantía}"></td>
        <td th:text="${vista.activo}"></td>
        <td th:text="${vista.propuestoRetirada}"></td>
        <td th:text="${vista.fechaDeAlta}"></td>
        <td th:text="${vista.fechaDeActualizaciN}"></td>
        <td th:text="${vista.fechaDeBaja}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>